@media screen and (min-width: 350px) and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 5% 4% 0 1%;
    display: flex;

    flex-direction: column;
    position: relative;
  }
  .grid-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .dropdown-menu {
    position: absolute;
    top: 60%;
    width: 95%;
    height: 52vh;
    margin-top: 2vh;
  }
  .menu-option label {
    width: 40%;
    top: 5px;
    left: 5px;
  }
  select.myTimeSelect {
    width: 45%;
    font-size: 12px;
  }

  .message-popup {
    margin-top: 4vh;
    position: absolute;
    top: 155vh;
    width: 95%;
    padding-bottom: 2vh;
  }
  .digital-clock-section {
    position: absolute;
    top: 10%;

    width: 95%;
  }
  .message-popup-2 {
    position: absolute;
    top: 30%;
    margin-top: 4vh;
    width: 95%;
    max-height: 20%;
  }
  .message-popup-2 h1 {
    position: relative;
    bottom: 10%;
    text-align: center;
  }
  .img-carousal {
    position: absolute;
    top: 120vh;
    margin-top: 4vh;
  }

  .lower-section {
    position: absolute;
    top: 180vh;
    margin-bottom: 5vh;
    margin-top: 4vh;
    width: 95%;
    height: 30%;
  }
  /*****Grid Container-2 ******/

  .digital-clock-section P {
    font-size: 24px;
    margin-left: 10px;
  }
  .clock {
    font-size: 24px;
  }
  .bg-clock {
    width: 16vw;
    height: 6vh;
  }
  .bg-clock1 {
    left: 20%;
  }
  .bg-clock2 {
    left: 40%;
  }
  .bg-clock3 {
    left: 60%;
  }
  .bg-clock4 {
    left: 80%;
  }
  .blur-bg1 {
    top: 90%;
    left: 10%;
  }
  .blur-bg2 {
    top: 90%;
    left: 12%;
  }
  .message-popup-2 {
    height: 30vh;
  }

  .img-carousal img {
    margin-top: 2vh;
    width: 95%;
    height: 100%;
  }
  .remainder-msg {
    height: 80%;
    width: 42%;
  }
}
@media screen and (min-width: 600px) and (max-width: 820px) {
  .container {
    width: 100%;
    margin: 5% 4% 0 1%;
    display: flex;
    position: relative;
    flex-direction: column;
  }
  .grid-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .dropdown-menu {
    position: absolute;
    top: 54vh;
    height: 52vh;
    margin-top: 2vh;
    width: 95%;
  }
  .menu-option label {
    width: 40%;

    left: 8%;
  }
  select.myTimeSelect {
    width: 50%;
    font-size: 12px;
  }

  .message-popup h1 {
    position: relative;
    bottom: 30%;
    left: 15%;
  }
  .remainder-msg {
    margin-bottom: 2vh;
  }
  .message-popup {
    margin-top: 4vh;
    position: absolute;
    top: 160vh;
    width: 95%;
    height: 10%;
  }
  .digital-clock-section {
    position: absolute;
    top: 10%;
    width: 95%;
    max-height: 25%;
  }
  .message-popup-2 {
    position: absolute;
    top: 40%;
    margin-top: 4vh;
    max-height: 20%;
    width: 95%;
  }
  .message-popup-2 h1 {
    right: 1vw;
    text-align: center;
    left: 4vw;
  }
  .img-carousal {
    position: absolute;
    top: 110vh;
    margin-top: 4vh;
    width: 95%;
  }
  .img-carousal img {
    margin-top: 2vh;
    width: 100%;
    height: 100%;
  }
  .lower-section {
    position: absolute;
    top: 220%;
    margin-bottom: 5vh;
    margin-top: 4vh;
    width: 95%;
    height: 30%;
  }
  /*****Grid Container-2 ******/
  .section2 {
    margin-top: 8vh;
  }
  .digital-clock-section {
    height: 30vh;
  }
  .digital-clock-section P {
    font-size: 24px;
    margin-left: 10px;
  }
  .clock {
    font-size: 24px;
  }
  .bg-clock {
    width: 12vw;
    height: 6vh;
  }
  .bg-clock1 {
    left: 20%;
  }
  .bg-clock2 {
    left: 40%;
  }
  .bg-clock3 {
    left: 60%;
  }
  .bg-clock4 {
    left: 80%;
  }
  .blur-bg1 {
    top: 90%;
    left: 10%;
  }
  .blur-bg2 {
    top: 98%;
    left: 12%;
  }
}
@media screen and (min-width: 820px) and (max-width: 1100px) {
  .container {
    width: 100%;
    margin: 5% 2% 0 1%;
    display: flex;
    position: relative;
    flex-direction: column;
  }
  .grid-container {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .menu-option {
    position: relative;
    top: 10%;
  }
  .menu-option label {
    width: 40%;
    font-size: 20px;
    left: 8%;
  }
  select.myTimeSelect {
    width: 50%;
    font-size: 12px;
  }

  .remainder-msg {
    margin-bottom: 2vh;
  }
  .message-popup {
    margin-top: 4vh;
    position: absolute;
    top: 140vh;
    width: 95%;
  }
  .message-popup h1 {
    position: relative;
    bottom: 2vh;
    left: 25%;
  }
  .digital-clock-section {
    position: absolute;
    top: 10%;
    width: 95%;
    max-height: 25%;
  }
  .message-popup-2 {
    position: absolute;
    top: 24vh;
    margin-top: 4vh;
    max-height: 20%;
    width: 95%;
  }

  .message-popup-2 h1 {
    position: relative;
    bottom: 10%;
    text-align: center;
  }
  .img-carousal {
    position: absolute;
    top: 90vh;
    margin-top: 4vh;
    width: 100%;
  }
  .img-carousal img {
    margin-top: 2vh;
    width: 95%;
    height: 100%;
  }

  .dropdown-menu {
    position: absolute;
    top: 42vh;
    height: 48vh;
    margin-top: 2vh;

    width: 95%;
  }
  .lower-section {
    position: absolute;
    top: 150vh;
    margin-bottom: 5vh;
    margin-top: 4vh;
    width: 100%;
    height: 30%;
  }
  .remainder-msg {
    width: 30%;
    position: absolute;
    right: 5%;
    height: 80%;
  }
  .remainder-msg p {
    font-size: 18px;
  }
  /*****Grid Container-2 ******/
  .section2 {
    margin-top: 8vh;
  }
  .digital-clock-section {
    height: 30vh;
  }
  .digital-clock-section P {
    font-size: 32px;
    margin-left: 5%;
  }
  .clock {
    font-size: 24px;
  }
  .bg-clock {
    width: 16vw;
    height: 6vh;
    padding-top: 2vh;
  }
  .bg-clock1 {
    left: 20%;
  }
  .bg-clock2 {
    left: 40%;
  }
  .bg-clock3 {
    left: 60%;
  }
  .bg-clock4 {
    left: 80%;
  }
  .blur-bg1 {
    top: 90%;
    left: 10%;
  }
  .blur-bg2 {
    top: 98%;
    left: 12%;
  }
}
